name: Tag

on:
  workflow_call:
    inputs:
      default_branch:
        description: 'Default branch name'
        default: main
        required: false
        type: string
      working-directory:
        description: 'The working directory to run the job in'
        required: false
        type: string
        default: '.'
    secrets:
      repo-token:
        required: true

jobs:
  tag:
    name: Create and Push Tag
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./${{ inputs.working-directory }}
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        ref: ${{ inputs.default_branch }}
        fetch-depth: 0
        token: ${{ secrets.repo-token }}
    - name: Get version from file
      run: |
        pkg_name=$(grep -P 'version\h*=\h*\{\h*attr\h*=\h*\H*\h*\}' pyproject.toml | grep -oP '\w+.__version__')
        init_file="./src/${pkg_name//.__version__}/__init__.py"
        pkg_version=$(grep -Po '[0-9]+\.[0-9]+\.[0-9]+' "$init_file")
        echo "tag=$pkg_version" >> "$GITHUB_ENV"
    - name: Create git tag
      run: |
        git tag "v${{ env.tag }}"
    - name: Push git tag
      run: git push origin "v${{ env.tag }}"
