name: CI

on:
  workflow_call:
    inputs:
      python-version:
        description: Python version to use in the CI
        required: true
        type: string
      working-directory:
        description: Working directory for the CI tasks
        required: false
        type: string
        default: '.'

jobs:
  ci:
    name: Run CI Tasks
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./${{ inputs.working-directory }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ inputs.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ inputs.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install -e .[dev]
    - name: Run flake8
      run: flake8 .
    - name: Run interrogate
      run: interrogate --verbose .  
    - name: Run tests and coverage
      run: |
        if python -m pytest --version > /dev/null 2>&1; then
          coverage run -m pytest && coverage report
        else
          coverage run -m unittest discover && coverage report
        fi
